
    <style>
       #map {
        height:650px;
        width: 100%;
       }

       .contact-row{
   	    margin-top: -422px;
    		position: relative;
    		z-index: 99;
       }

	.contact-panel {
	    text-align: center;
	    padding: 30px 30px;

	}
    </style>

<section id="contact" class="contact pb-0 pt-0">
	<div class="container-fluid pr-0 pl-0">
		<div class="row">
			<div class="col-xs-12  col-sm-12  col-md-12 pr-0 pl-0">
    <div id="map"></div>
			</div>
		</div>
	</div>

		<div class="container">
		<div class="row contact-row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading heading-6 text--center mb-70">
					<p class="heading--subtitle text-black"></p>
					<h4 class="heading--title  text-grey" style="margin-bottom:104px; color:#333;">Contact Us</h4>
				</div>
			</div><!-- .col-md-8 end -->
			<div class="clearfix"></div>
			<!-- Contact Panel #1 -->
			<div class="col-xs-12 col-sm-6 col-md-4 contact-panel">
				<i class="fa fa-map-marker"></i>
				<h3>Our Address</h3>
				<p>600 Congress Ave, Austin, TX 78701
</p>
				<a class="contact-action" href="#">Directions</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #2 -->
			<div class="col-xs-12 col-sm-6 col-md-4 contact-panel">
				<i class="fa fa-phone"></i>
				<h3>Our Phone</h3>
				<p>Office Telephone : 512-709-7014 </p>
				<a class="contact-action" href="#">Call Us</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #3 -->
			<div class="col-xs-12 col-sm-6 col-md-4 contact-panel">
				<i class="fa fa-envelope"></i>
				<h3>Our Email</h3>
				<p>Main Email : alejandro@latindigital.io </p>
				<a class="contact-action" href="#">Send a Message</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #4 -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #contact end -->

    <script>
      function initMap() {
        setTimeout(function(){
	        var uluru = {lat: 30.267153, lng: -97.743061};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 10,
	          center: uluru
	        });
	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });
		},10*1000);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrfqxnEuRipCDCjiYgF4LJ4CyfFn4r2kw&callback=initMap">
    </script>
