    <head>

      <meta charset="utf-8">
	  <title>Latin Digital - Alejandro Diez</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--IE Compatibility Meta-->
      <meta name="author" content="zytheme"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Latin Digital - Alejandro Diez">
      <meta name="keywords" content="Product Development Digital Marketing UX UI">
      <link href="{{ "assets/images/favicon/favicon.png" | relative_url }}" rel="icon">

      <!-- Stylesheets
          ============================================= -->
      <link href="{{ "css/external.css" | relative_url }}" rel="stylesheet">
      <link href="{{ "css/bootstrap.min.css" | relative_url }}" rel="stylesheet">
      <link href="{{ "css/main.css" | relative_url }}" rel="stylesheet">
      <link href="{{ "css/patch-lighthouse.css" | relative_url }}" rel="stylesheet">

      <!-- RS5.0 Main Stylesheet -->
      <link rel="stylesheet" type="text/css" href="{{ "revolution/css/settings.css" | relative_url }}">
      <link rel="stylesheet" type="text/css" href="{{ "revolution/css/layers.css" | relative_url }}">
      <link rel="stylesheet" type="text/css" href="{{ "revolution/css/navigation.css" | relative_url }}">

      <!-- G-Suite Metatag -->
      <meta name="google-site-verification" content="lGL0ars_GTR5x6kkKBeqdPhl6SPVgoPXt7yaTAWJIok" />
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118145960-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118145960-1');
      </script>

    </head>
